*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 7.2rem;
  font-weight: 900;
  line-height: 1.4;
  color: #0ccac4;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

h2 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

p {
  font-size: 1.6rem;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
